<h1><li>Mercedes CLS — это премиальный седан-купе</li></h1>
Выглядит спортивно, едет комфортно и считается машиной для статуса.
Главное:
Кузов: 4-дверное купе
Привод: задний или полный (4MATIC)
Коробка: автомат
Салон: кожа, подсветка, большой экран
Подвеска: мягкая, комфортная
Двигатели:
CLS 350 — комфорт и надёжность
CLS 400 / 450 — быстрее и мощнее
AMG CLS 53 — очень быстрый, спортивный характер
Плюсы:
Очень красивый дизайн
Комфорт на трассе
Престиж Mercedes
Хорошая динамика
Минусы:
Дорогое обслуживание
Мало места сзади
Низкий клиренс