<!-- 
Тег - это то из чего мы строим разметку сайта.
Тег имеет открывающуюся часть и закрывающуюся.
Тег может быть и одинарным.

<тег> - одинарный
<тег> содержимое </тег> - парный
-->

<h1>Умер человек-паук (ОТ АНАЛЬНЫХ ТРЕШИН)</h1>


<h3></h3>
<h4></h4>
<h5></h5>
<h6></h6>

<img width="300" height="200" src="https://media.2x2tv.ru/content/images/2021/03/------6.jpg" alt="Человек-паук">

<h2>ОТ ВЕНОМА И ХАЛКА</h2>
<h3>ОТ ЭТИХ ЕБЛАНОВ</h3>
<img width="300" height="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ15WHiSM2IIZdacx6DdPnw4fCw_xWPCer4zw&s" alt="Человек-паук">
<img width="300" height="200" src="https://static.kion.ru/content/mts/movie/23402192/posters/HORIZONTAL_444ef097e1ee9a7fb845f819d6bcea47.webp?x=1152&y=648&ar=ignore" alt="Человек-паук">

<h1>Это чтобы вы раслобились</h1>
<video width="300" height="200" controls src="https://img-9gag-fun.9cache.com/photo/aOQOyAD_460svav1.mp4">
</video>

<audio controls src="http://commondatastorage.googleapis.com/codeskulptor-demos/DDR_assets/Sevish_-__nbsp_.mp3">
</audio>