<h1>ИДИ НА ХУЙ ПИДОР</h1>
<img width="450" height="400" src="https://funny.klev.club/uploads/posts/2024-03/funny-klev-club-p-smeshnie-kartinki-s-fakyu-1.jpg" alt="Человек-паук">

<h1>САМ ИДИ ЛЫСЫЙ</h1>
<img width="450" height="400" src="https://cs9.pikabu.ru/post_img/big/2017/07/25/3/1500949803149810732.jpg" alt="Человек-паук">

<h1>РЕБЯТА ДАВАЙТЕ ЖИТЬ ДРУЖНО</h1>
<img width="300" height="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/WIPO_Director_General_Meets_President_of_Kazakhstan_Kassym_Jomart_Tokayev_2025_%28cropped%29.jpg/250px-WIPO_Director_General_Meets_President_of_Kazakhstan_Kassym_Jomart_Tokayev_2025_%28cropped%29.jpg" alt="Человек-паук">

<h1>НЕТ ТОЖЕ ИДИ НА ХУЙ</h1>
<img width="300" height="200" src="https://dpru.obs.ru-moscow-1.hc.sbercloud.ru/images/article/2023/04/19/72af80f2-4401-4417-81fa-66cb6219abb8_F.jpg" alt="Человек-паук">